html
  height: 100%

body.page-auth
  height: 100%
  display: flex
  align-items: center
  padding-top: 40px
  padding-bottom: 40px
  background: #f2f2f2

.form-signin
  width: 100%
  max-width: 520px
  padding: 15px
  margin: auto
  background: #fff
  &.border-light
    border-color: #e0e0e0 !important
  .form-control
    box-sizing: border-box
    height: auto
    padding: 10px
    font-size: 16px